.banner {
    background-color: var(--secondary-background-color);
    padding-top: 2%;
}

.banner .container .slick-slider .slick-slide .banner-item {
    width: 100%;
    justify-content: space-between !important;
}

.banner .title {
    font-size: var(--banner-font-size);
}

.banner-item .banner-image {
    display: flex;
    object-fit: contain;
    width: 100%;
}

.slick-slider .slick-dots {
    bottom: 0;
}

.banner .slick-prev,
.banner .slick-next {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.slick-next:before,
.slick-prev:before {
    color: var(--primary-color) !important;
    font-size: 32px !important;
}

.banner:hover .slick-prev,
.banner:hover .slick-next {
    opacity: 1;
    pointer-events: auto;
}

.banner-item .banner-statistics .col {
    display: inline-block;
}

.banner-statistics .number {
    font-size: 32px;
    font-weight: bold;
}

.banner-statistics .title {
    font-size: var(--normal-font-size);
}

.banner-item .shop-now-btn {
    border: 1px solid var(--text-color-dark);
}

.banner-item .shop-now-btn:hover {
    background-color: var(--secondary-background-color-color);
    color: var(--text-color-dark);
    transition: all 0.3s ease;
}

.banner-item .banner-content {
    padding: 20px !important;
}